In [2]:
import pandas as pd
birddata=pd.read_csv("bird_tracking.csv")

In [3]:
birddata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 61920 entries, 0 to 61919
Data columns (total 9 columns):
Unnamed: 0            61920 non-null int64
altitude              61920 non-null int64
date_time             61920 non-null object
device_info_serial    61920 non-null int64
direction             61477 non-null float64
latitude              61920 non-null float64
longitude             61920 non-null float64
speed_2d              61477 non-null float64
bird_name             61920 non-null object
dtypes: float64(4), int64(3), object(2)
memory usage: 4.3+ MB

In [4]:
birddata.head()

,Unnamed: 0,altitude,date_time,device_info_serial,direction,latitude,longitude,speed_2d,bird_name
0,0,71,2013-08-15 00:18:08+00,851,-150.469753,49.419860,2.120733,0.150000,Eric
1,1,68,2013-08-15 00:48:07+00,851,-136.151141,49.419880,2.120746,2.438360,Eric
2,2,68,2013-08-15 01:17:58+00,851,160.797477,49.420310,2.120885,0.596657,Eric
3,3,73,2013-08-15 01:47:51+00,851,32.769360,49.420359,2.120859,0.310161,Eric
4,4,69,2013-08-15 02:17:42+00,851,45.191230,49.420331,2.120887,0.193132,Eric

In [5]:
import matplotlib.pyplot as plt
import numpy as np

In [6]:
ix = birddata.bird_name == "Eric"

In [7]:
x , y = birddata.longitude[ix] , birddata.latitude[ix]

In [8]:
plt.figure(figsize=(7,7))

In [9]:
plt.plot(x,y,".")

In [10]:
plt.savefig("bird1.jpg")

In [11]:
birdnames = pd.unique(birddata.bird_name)
plt.figure(figsize=(7,7))
for birdname in birdnames:
    ix = birddata.bird_name == birdname
    x , y = birddata.longitude[ix] , birddata.latitude[ix]
    plt.plot(x,y,".",label=birdname)

plt.xlabel("Longitude")
plt.ylabel("Latitude")
plt.legend(loc="upper left")
plt.savefig("AllBirds.jpg")

In [14]:
iy =birddata.bird_name == "Sanne"
print(birddata[iy].head())

       Unnamed: 0  altitude               date_time  device_info_serial  \
40916       40916        55  2013-08-15 00:01:08+00                 833
40917       40917        54  2013-08-15 00:31:00+00                 833
40918       40918        55  2013-08-15 01:01:19+00                 833
40919       40919        56  2013-08-15 01:31:38+00                 833
40920       40920        55  2013-08-15 02:01:24+00                 833

        direction   latitude  longitude  speed_2d bird_name
40916  -91.499509  49.931065   2.281893  0.372156     Sanne
40917 -141.804053  49.931076   2.281900  1.318484     Sanne
40918  -10.651840  49.931016   2.281933  0.076158     Sanne
40919   14.727689  49.931053   2.281911  0.014142     Sanne
40920 -169.882200  49.931042   2.281893  0.094340     Sanne